{# {{ form_start(form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form) }} #}

{% extends 'base.html.twig' %}

{% block title %}Liste des places{% endblock %}

{% block body %}
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Liste des places</h3>

				<div class="card-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" name="table_search" class="form-control float-right" placeholder="Search">

						<div class="input-group-append">
							<button type="submit" class="btn btn-default">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>ID</th>
							<th>Code</th>
                            <th>Status</th>
                            <th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for place in places %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ place.id }}</td>
								<td>{{ place.code }}</td>
                                <td>{{ place.isDisponible }} </td>

                                {% if place.isDisponible %}
                            		<td> <a href="{{ path('app_stationnement_place', {'id':place.id}) }}" class="btn btn-success">+ stationnement</a></td>
                                {% else %}
                            		<td><a href="{{path('app_out',{'id':place.id}) }}" class="btn btn-success">Sortie de stationnement</a></td>
                        
                                {% endif %}
                                    
                                
							</tr>

						{% endfor %}

					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
{% endblock %}
