	<div class="col-lg-8 offset-md-2">

		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Formulaire ajout park</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			{{ form_start(form) }}
			<div class="card-body">
				<div class="form-group">
					<label for="exampleInputEmail1">Categorie</label>
					{{ form_widget(form.categorie, {'attr':{'class':'form-control'}}) }}
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Nom</label>
					{{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Adresse</label>
					{{ form_widget(form.adresse, {'attr':{'class':'form-control'}}) }}
				</div>


				<div class="form-group">
					<label for="exampleInputEmail1">Telephone</label>
					{{ form_widget(form.phone, {'attr':{'class':'form-control'}}) }}
				</div>


				<div class="form-group">
					<label for="exampleInputEmail1">Ouverture</label>
					{{ form_widget(form.open, {'attr':{'class':'form-control'}}) }}
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Fermeture</label>
					{{ form_widget(form.close, {'attr':{'class':'form-control'}}) }}
				</div>


			</div>
			<!-- /.card-body -->

			<div class="card-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			{{ form_end(form) }}
		</div>


	</div>
