{% extends 'base.html.twig' %}

{% block title %}New Park{% endblock %}

{% block body %}

    {{ include('park/_form.html.twig') }}

    <a href="{{ path('app_park_index') }}">back to list</a>
{% endblock %}
